html, body
{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: verdana, helvetica, sans-serif;
  color: #333333;
}

a {
	text-decoration: none;
}

div.code {
	border: 1px dotted #7893a9;
	margin: 2px;
	padding: 2px;
	background: #eeeeee;
	white-space: pre;
	width:99%;
	clear: both;
}

h3 {
  	font-size: 14px;
  	padding: 0px 5px;
  	background-color: #7893a9;
} 

img {
	border: none;
	padding: 2px;
}

span.next {
	float: right;
} 
  
span.last {
	float: left;
}
div.spacer {
	clear: both;
	padding: 2px;
}

/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:absolute;
  display:none;
  z-index:9001;
  padding:20px;
}


/* Customize your modal window here, you can add background image too */
#boxes #dialog {
  background-color:#fff;
}

#beneden {
  	position: absolute;
	bottom: 10;
}

div.nblock {
    margin: 3px;
    padding: 1em;
    background: #eeeef0;
    width: 60%;
    clear: left;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

.styledinput {
    border: none 0px transparent;
    rbackground-color:transparent;
    width: 100%;
    _display:inline;
    opacity: 0.8;
}

div.summaryblock {
    position: absolute;
    right: 1em;
    top: 10em; 
    padding: 1em;
    background: #eeeeff;
    width: 30%;
    clear: left;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    opacity: 0.6;
}

#header
{
  background-image: url("images/top-bg.png");
  background-repeat: repeat-x;
  margin: 0;
  padding: 0;
  height: 96px;
  overflow: hidden;
}

#header h1
{
  text-align: right;
  margin: 0;
  color: #fdfdff;
  text-shadow: #000 2px 2px -5px;
  padding-right: 1em;
}

#footer
{
  text-align: center;
  font-size: 0.8em;
  clear: both;
  color: grey;
  background:#efefef;
  padding: 10px;
  margin-bottom: -16px;
}

